[submodule "chef-client"]
	path = chef-client
	url = https://github.com/opscode-cookbooks/chef-client.git
[submodule "cron"]
	path = cron
	url = https://github.com/opscode-cookbooks/cron.git
[submodule "logwatch"]
	path = logwatch
	url = https://github.com/opscode-cookbooks/logwatch.git
